<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scientific -->
      <package
            uri="http://www.gemoc.org/scientific"
            class="org.gemoc.agro.scientific.ScientificPackage"
            genModel="model/scientific.genmodel"/>
   </extension>

</plugin>
