<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.xtext.example.plugin.contribution1">
         <menu
               label="Convert XMI to DSL"
               path="additions"
               id="XMI2DSL.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Convert"
               class="popup.action.Convert"
               menubarPath="XMI2DSL.menu1/group1"
               enablesFor="1"
               id="XMI2DSL.convert">
         </action>
      </objectContribution>
   </extension>

</plugin>
