<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cICD_metamodel -->
      <package
            uri="http://www.example.org/cICD_metamodel"
            class="cICD_metamodel.CICD_metamodelPackage"
            genModel="model/cICD_metamodel.genmodel"/>
   </extension>

</plugin>
