<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated circleCI_metamodel -->
      <package
            uri="http://www.example.org/circleCI_metamodel"
            class="circleCI_metamodel.CircleCI_metamodelPackage"
            genModel="model/circleCI_metamodel.genmodel"/>
   </extension>

</plugin>
