<?xml version="1.0" encoding="UTF-8"?>
<solver>
  <!--<environmentMode>FAST_ASSERT</environmentMode>-->

  <!-- Domain model configuration -->
  <solutionClass>org.gemoc.agro.simulation.solver.SimulationSolution</solutionClass>
  <entityClass>org.gemoc.agro.simulation.ActivityWork</entityClass>
  <entityClass>org.gemoc.agro.simulation.ResourceAllocation</entityClass>

  <!-- Score configuration -->
  <scoreDirectorFactory>
    <scoreDefinitionType>HARD_SOFT</scoreDefinitionType>
    <easyScoreCalculatorClass>org.gemoc.agro.simulation.solver.AgroScoreCalculator</easyScoreCalculatorClass>
    <initializingScoreTrend>ONLY_DOWN</initializingScoreTrend>
  </scoreDirectorFactory>

  <!-- Optimization algorithms configuration 
  -->
  <termination>
    <secondsSpentLimit>5</secondsSpentLimit>
  </termination>
  <constructionHeuristic>
	   <queuedEntityPlacer>
		   <entitySelector id="placerEntitySelector">
		        <cacheType>PHASE</cacheType>
		        <entityClass>org.gemoc.agro.simulation.ActivityWork</entityClass>
		   </entitySelector>
		   <changeMoveSelector>
		        <entitySelector mimicSelectorRef="placerEntitySelector"/>
		   </changeMoveSelector>
	   </queuedEntityPlacer>    
  </constructionHeuristic>
  <constructionHeuristic>
	   <queuedEntityPlacer>
		   <entitySelector id="placerEntitySelector">
		        <cacheType>PHASE</cacheType>
		        <entityClass>org.gemoc.agro.simulation.ResourceAllocation</entityClass>
		   </entitySelector>
		   <changeMoveSelector>
		        <entitySelector mimicSelectorRef="placerEntitySelector"/>
		   </changeMoveSelector>
	   </queuedEntityPlacer>    
  </constructionHeuristic>
  <localSearch>
    <acceptor>
      <simulatedAnnealingStartingTemperature>0hard/400soft</simulatedAnnealingStartingTemperature>
    </acceptor>
    <unionMoveSelector>
     <changeMoveSelector>
     <filterClass>org.gemoc.agro.simulation.solver.ResourceAllocationMoveFilter</filterClass>
        <entitySelector>
          <entityClass>org.gemoc.agro.simulation.ResourceAllocation</entityClass>
        </entitySelector>
      </changeMoveSelector>
      <changeMoveSelector>
      <filterClass>org.gemoc.agro.simulation.solver.ScheduledDateMoveFilter</filterClass>
        <entitySelector>
          <entityClass>org.gemoc.agro.simulation.ActivityWork</entityClass>
        </entitySelector>
      </changeMoveSelector>
      </unionMoveSelector>
    <forager>
      <acceptedCountLimit>4</acceptedCountLimit>
    </forager>
  </localSearch>
</solver>