<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated travisCI_metamodel -->
      <package
            uri="http://www.example.org/travisCI_metamodel"
            class="travisCI_metamodel.TravisCI_metamodelPackage"
            genModel="model/travisCI_metamodel.genmodel"/>
   </extension>

</plugin>
