<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated simulation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.agro.simulation.presentation.SimulationModelWizardID"
            name="%_UI_SimulationModelWizard_label"
            class="org.gemoc.agro.simulation.presentation.SimulationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimulationModelFile.gif">
         <description>%_UI_SimulationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated simulation -->
      <editor
            id="org.gemoc.agro.simulation.presentation.SimulationEditorID"
            name="%_UI_SimulationEditor_label"
            icon="icons/full/obj16/SimulationModelFile.gif"
            extensions="simulation"
            class="org.gemoc.agro.simulation.presentation.SimulationEditor"
            contributorClass="org.gemoc.agro.simulation.presentation.SimulationActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.gemoc.agro.simulation.editor.contribution1"
            objectClass="org.gemoc.agro.simulation.Schedule">
         <menu
               id="org.gemoc.agro.simulation.editor.menu1"
               label="Planner"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.gemoc.agro.simulation.editor.popup.actions.ComputePlanner"
               enablesFor="1"
               id="org.gemoc.agro.simulation.editor.newAction"
               label="Compute Schedule"
               menubarPath="org.gemoc.agro.simulation.editor.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
