<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jenkins_metamodel -->
      <package
            uri="http://www.example.org/jenkins_metamodel"
            class="jenkins_metamodel.Jenkins_metamodelPackage"
            genModel="model/jenkins_metamodel.genmodel"/>
   </extension>

</plugin>
